body{
    padding: 0;
    margin: 0;
}
.texts{
    text-align: center;
    color: white;
}
.main-body{
    min-height: 200vh;
    background: url(christmas\ background.jpg) no-repeat center;
    background-size: cover;
    display:flex ;
}
@keyframes snowfall1{
    100%{
        background-position: 1em 70em;
    }
}
.snow1{
    position: absolute;
    height: 200%;
    width: 20%;
    right: 0;
    left: 0;
    background-image: url(snow\ flake.png);
}
.snow1{
    animation: snowfall1 20s linear infinite;
}
